node_modules/
package-lock.json
dist/
build/
cache/
.DS_Store
Thumbs.db

npm-debug.*
yarn-debug.*
yarn-error.*

## Xcode User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout
/.idea
/.vscode